<% provide(:title, "Home") %>

<% unless logged_in? %>
	<div class="jumbotron container-fluid center">
		<h1>Welcome to PlayIt</h1>
		<h2>We believe in bringing all people on one pitch</h2>

		<%= link_to "Start playing", signup_path, class: "btn btn-lg btn-primary" %>

	</div>
<% end %>

<br>

<% if logged_in? %>
	<div class="row">
		<% unless @sorted_events_by_created_at.nil? %>
			<% @sorted_events_by_created_at.each do |event| %>
				<%= render event %>
			<% end %>
		<% end %>
	</div>
<% end %>