<% provide(:title, "Contacts") %>
	<div class="jumbotron center">
		<h1>Contact PlayIt</h1>
		<p id="textUnderHeading"><small>Get in touch with us to start playing</small></p>
	</div>
	<div class="row">
	    <aside class="col-md-4">
	    	<!-- TODO -->
	    </aside>
  	</div>